<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Chat</title>

        <link href="/public/css/bootstrap.min.css" rel="stylesheet">
        {% block css %}
        {% endblock %}

        <link href="/public/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="//fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>

    <body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
        {% if enable_chat_client %}
        <script>
            window.PEER_SERVER_PORT = "{{ peer_server_port }}";
            window.PEER_SERVER_HOST = "{{ peer_server_host }}";

            window.fbAsyncInit = function() {
                FB.init({
                    appId      : '{{ facebook_public_app_id }}',
                    cookie     : 'true',
                    xfbml      : true,
                    version    : 'v2.1'
                });

                // Initialize new chat client
                new ChatClientApp();
            };

            (function(d, s, id){
                var js, fjs = d.getElementsByTagName(s)[0];
                if (d.getElementById(id)) {return;}
                js = d.createElement(s); js.id = id;
                js.src = "//connect.facebook.net/en_US/sdk.js";
                fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
        </script>
        {% endif %}


        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">
                        <i class="fa fa-play-circle"></i>  Chat
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                    <ul class="nav navbar-nav">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="hidden">
                            <a href="#page-top"></a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>

        {% block intro %}
        {% endblock %}

        <div class="content container-fluid">
        {% block content %}
        {% endblock %}
        </div>

        <script src="/public/js/jquery-1.11.0.js"></script>
        <script src="/public/js/bootstrap.min.js"></script>
        <script src="/public/js/jquery.easing.min.js"></script>
        <script src="/public/js/peer.min.js"></script>
        <script src="/public/js/underscore-min.js"></script>
        <script src="/public/js/backbone-min.js"></script>
        <script src="/public/js/list.min.js"></script>
        <script src="/public/js/app.js"></script>
    </body>
</html>
